In [1]:
#In this below Code File, we are going to build Various Classification Models and then we are going to Suggest the best Model based on the Accuracy of Results.
#In order to build various classifications we need import some of the files to our code
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [1]:
eda2 = pd.read_csv(r'C:\Users\Mohsin\TITANIC.csv')

NameError: name 'pd' is not defined

In [2]:
eda2.head(30)

NameError: name 'eda2' is not defined

In [4]:
eda2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
eda2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
eda2.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
eda2.isnull().values.any()

True

In [8]:
eda2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
print ("There is no null values in the dataset")

There is no null values in the dataset

In [10]:
eda2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
eda2.shape

(891, 12)

In [12]:
X = eda2.iloc[:,[5,6,7]].values

In [13]:
y = eda2["Survived"]

In [14]:
#SPLITTING 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,stratify=y)

In [15]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [17]:
eda2 =eda2[~eda2.isin([np.nan, np.inf, -np.inf]).any(1)]

In [18]:
X_train

array([[ 0.35091681,  0.53667675, -0.4514834 ],
       [-0.75692393, -0.46472009, -0.4514834 ],
       [ 0.28167676, -0.46472009, -0.4514834 ],
       ...,
       [ 1.2510374 ,  0.53667675,  3.15318881],
       [ 1.18179736, -0.46472009, -0.4514834 ],
       [-0.20300356, -0.46472009, -0.4514834 ]])

In [19]:
#TRAIN ON TRAINING SET
# 1. KNN CLASSIFICATION
from sklearn.neighbors import KNeighborsClassifier

In [22]:
knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(X_train,y_train)

In [ ]:
#EVALUATE
knn.score(X_test,y_test)

In [ ]:
#PREDICT
knn.predict(X_test)

In [ ]:
# 2. LOGISTIC REGRESSION 
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()
#fitting the model
lr.fit(X_train,y_train)

In [ ]:
#EVALUATE
lr.score(X_test,y_test)

In [ ]:
#PREDICT
lr.predict(X_test)

In [ ]:
# 3. DECISION TREE
from sklearn.tree import DecisionTreeClassifier

In [ ]:
tree = DecisionTreeClassifier()

tree.fit(X_train,y_train)

In [ ]:
#EVALUATE
tree.score(X_test,y_test)

In [ ]:
#PREDICT
tree.predict(X_test)

In [ ]:
# 4. RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest = RandomForestClassifier(n_estimators=100)

In [ ]:
forest.fit(X_train,y_train)

In [ ]:
#EVALUATE
forest.score(X_test,y_test)

In [ ]:
#PREDICT
forest.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

In [ ]:
#CONCLUSION 
#On Evaluating the different classifications and by Comparing them with each the score obtain from them is: 0.6956521739130435  which is (69.56%)
#And this Scores are obtain by Logistic Regression and Decision Tree
#So we can undertake Logistic Regression and Decision Tree into account of more